streamlit
python-dotenv
langchain
langchain-community
langchain-openai
langchain-experimental
langchain-text-splitters
langchain-huggingface
pandas
numpy
faiss-cpu
sentence-transformers
pypdf
plotly
matplotlib
openpyxl
tabulate
torch